.App {
  position: relative;
}

@keyframes animateBg {
  from {
    background-position: 200px bottom;
  }
  to {
    background-position: 0px bottom;
  }
}

.App:before {
  animation: animateBg 16s ease-in-out alternate-reverse infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/2gfwG.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: repeat;
  top: 0;
  left: 0;
  content: '';
}

.app-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px 1fr;
}

.app-sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 4px solid #FFCC06;
  background-color: rgba(121, 201, 249, .3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.app-sidebar__logo {
  max-width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.app-sidebar__menu {
  padding-top: 50px;
  position: relative;
}

.app-sidebar__menu ul {
  display: block;
  padding: 0;
  margin: 0 auto;
  max-width: 80%;
  list-style: none;
}

.app-sidebar__menu ul li {
  text-align: center;
  padding: 5px 0;
}

.app-sidebar__menu ul li a {
  background-color: #FFCB05;
  color: #3662AD;
  padding: 10px;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 800;
  border: 4px solid #3662AD;
  text-transform: uppercase;
}

.app-sidebar__menu ul li a:hover {
  background-color: #D7AC07;
}

.app-content {
  position: relative;
  z-index: 1;
  padding: 30px;
}

.app-content__actions {
  margin-bottom: 30px;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.cards-grid {
  display: grid;
  gap: 35px;
  min-height: 100vh;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.cards-grid div {
  cursor: pointer;
  text-align: center;
}

.cards-grid div img {
  position: relative;
  transition: 0.2s ease-out;
  height: 330px;
  width: 240px;
}

.cards-grid div img:hover {
  transform: translate3d(0, -10px, 0);
}

.load-more {
  padding-top: 30px;
  text-align: center;
}

.load-more button {
  background-color: #FFCB05;
  color: #3662AD;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 800;
  border: 4px solid #3662AD;
  text-transform: uppercase;
  cursor: pointer;
}